* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: black;
    background-color: #c3f584;
  }

header{
    top: 0px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

  h1{
      width: 98%;
      margin: 0 auto;
      background-color: yellowgreen;
      color: white;
  }

  main {position: relative;
    margin-top: 40px;
}


.info{
    color: white;
    width: 100%;
    padding: 50px;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;

}

.interactive{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #f1f1b0;
}
.tab{
    display: flex;
    width: 70%;
    background-color: #ff6666;
    justify-content: center;
}

input{
    display: block;
    padding: 10px;
    width: 40%;
    margin: 20px;
    background-color: white;
}

button{
    background-color: #fff3af;   
    width: 40%;
    display: block; 
    margin: 20px;
    padding: 10px;
    border-color: #c3f584;
}

#myTable{
    border: 1px solid #f8dc88;
    background-color: white;
    width: 80%;
}

th, td{
    background-color: white;
} 