.parent{
    border: 1px solid lightblue;
    min-width: 850px;
    max-width: 1200px;
    position: relative;
    border-radius: 10px;
}

img{
    position: absolute;
    height: 100%;
      
    right: 0;
    border-radius: 0 10px 10px 0;
}

.change {
    width: 60%;
    min-width:500px;
}



