h1{
    text-align: center;
    
    
}

h3{
    text-align: center;
}

img{
    width: 100px;
    display: block;
    margin: 0 auto;
}

.parent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.child{
    background-color: #F6F6F6;
    width: 22%;
    min-width: 282px;
    padding: 15px;
    margin: 10px;
   
}

a{
    color: #B588F4;
    text-decoration: none;
}