@import "~antd/dist/antd.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 30px auto;
  align-items: center;
}

.container {
  display: flex;
  width: 80%;
  margin: 10px auto;
  justify-content: center;
  align-content: center;
}

.ant-select-selector {
  border: none !important;
}

.ant-select {
  border: 1px solid black !important;
  color: black !important;
  margin: 0 30px;
}

.ant-select-selection-placeholder {
  opacity: unset !important ;
}

.ant-select-arrow {
  color: black !important;
}

label {
  width: 200px;
  display: block;
  margin: 0 30px;
  text-align: center;
  font-size: 14px;
  color: black;
}

.submit {
  background: #833ae0;
  color: white;
  width: 200px;
  height: 35px;
  border: none;
  font-size: 14px;
  padding: 5px;
  margin: 20px;
}

#days {
  display: block;
  margin: 0 30px;
  height: 32px;
  width: 200px;
  font-size: 14px;
  border: 1px solid black;
  color: black;
  width: 200px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
