* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.dice {
  margin: 0 40px 30px;
  width: 135px;
  height: 135px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 10px 5px 25px 7px rgba(45, 79, 79, 0.71);
  -moz-box-shadow: 10px 5px 25px 7px rgba(45, 79, 79, 0.71);
  box-shadow: 10px 5px 25px 7px rgba(45, 79, 79, 0.71);
}
button {
  border: 1px solid black;
  background-color: white;
  box-shadow: aqua;
  width: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin: 15px auto 5px;
  padding: 4px;
}

p {
  font-size: 20px;
  margin: 10px auto;
}

button:hover {
  background-color: black;
  color: white;
}
